
<%- include('partials/header') -%>

<section class="contact-section">
    <br><br><br>
    <h1 id="contact-title">Contact us</h1>
</section>

<br><br><br><br>

<div class="row" style="text-align:center;">
    <div class="col-lg-4 contacts">
        <i class="fa-solid fa-phone icons"></i>
        <p>Phone</p>
        <p>0424901388</p>
    </div>
    <div class="col-lg-4 contacts">
        <i class="fa-brands fa-facebook icons"></i>
        <p>Facebook store</p>
        <a href="https://www.facebook.com/xingrong1209">visit</a>
    </div>
    <div class="col-lg-4 contacts">
        <i class="fa-solid fa-envelope icons"></i>
        <p>Email</p>
        <p>sunny@gmal.com</p>
    </div>
</div>

<%- include('partials/footer') -%>
