<%- include('partials/header') -%>

<section class="main-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <img class="main-image" src="/images/main.jpg" alt="">
            </div>
            <div class="col-lg-6" id="title">
                <h1>Welcome to Sunny's succulents</h1>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer') -%>
